* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

}


body {
    font-family: 'Press Start 2P', monospace;
    /*Fonte do google fonts: tipo estilo ciberpunk com poucos pixels*/
    /*  "@import url('');" pode ser usado também para importar pelo CSS*/

    background-image: url('../img/background.gif');
    /*Plano de fundo da página*/
    background-size: cover;
    /*Melhor ajuste para plano de fundo para cortar a imagem sem distorcer se ajustando de acordo com os pixs*/
    background-repeat: no-repeat;
    background-position: center;
    color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* "overflow: hidden;" caso queira remover a barra de rolagem*/
}

#card_jogador {
    background-color: rgba(25, 19, 44, 0.9);
    /*Cor específica pesquisada pela imagem da cor*/
    border: 4px solid #8f00ff;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 15px;
    display: flex;
    /*Ativa o Flexbox*/
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    /*Centraliza o card no centro da tela e na margin tanto em cima como em baixo recebe 20px*/

}

#jogador_img {
    width: 80px;
    height: 80px;
    /*Criando uma imagem quadrada*/
    border: 3px solid #f0f0f0;
    border-radius: 10px;
}

#nome_jogador {
    font-size: 18px;
    color: #fcd34d;

}

#pontuacao {
    font-size: 14px;
    color: #f0f0f0;
}


#clicker {
    text-align: center;
    margin: 30px 0px;

}

#imagemDoJogo {
    cursor: pointer;
    /*Passando o mouse vira uma mãozinha e indica que é clicável*/
    border: 5px solid #8f00ff;
    border-radius: 50%;
    /*Transforma o elemento em uma forma circular desde que ele tenham a mesma altura e largura*/
    background-color: rgba(25, 19, 44, 0.8);
    transition: transform 0.2s;

}

#imagemDoJogo:hover {
    transform: scale(1.05);

}

#upgrade {
    background-color: rgba(60, 0, 80, 0.9);
    border: 4px solid #8f00ff;
    border-radius: 15px;
    width: 320px;
    padding: 20px;
    position: absolute;
    /*Faz com que o card apareça de forma absoluta aos demais*/
    top: 50px;
    /*Move o card do top da tela*/
    right: 30px;
    /*Move o card do lado direita da tela*/
}

#upgrade h2 {
    color: #fcd34d;
    font-size: 16px;
    margin-bottom: 5px;
}

#upgrade .condicao_urgrade {
    color: #d1d5db;
    font-size: 12px;

}

#upgrade .ganho_upgrade {
    color: #4ade80;
    font-size: 12px;
    margin-bottom: 15px;
}
