*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}


body {
    font-family: 'Press Start 2P', monospace;
    /*Fonte do google fonts: tipo estilo ciberpunk com poucos pixels*/
    /*  "@import url('');" pode ser usado também para importar pelo CSS*/

    background-image: url('/img/background.gif');
    /*Plano de fundo da página*/
    background-size: cover;
    /*Melhor ajuste para plano de fundo para cortar a imagem sem distorcer se ajustando de acordo com os pixs*/
    background-position: center;
    color: #f0f0f0;
}

